* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  user-select: none;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(#1983cf, #000b50);
}

.points, .game, .right-container {
  margin: 0 50px;
}

canvas {
  background-color: #000;
}

#next-tetromino {
  border-radius: 15px;
  border: 2px solid #f3f3f3;
  overflow: hidden;
}

.right-container h1, .right-container canvas {
  padding: 10px;
}

#start-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.80);
  width: 100vw;
  height: 100hw;
  top: 0;
  inset: 0;
  display: grid;
  font-size: 48px;
  place-content: center;
}

#start-button:hover {
  cursor: pointer;
}
